<div class="container mt-3" id ="footer">
    <div class="container text-center" id="socials">
        <a href="#">
            <i class="icon ion-social-github"></i>
          </a>
          <a href="#">
            <i class="fa fa-globe"></i>
          </a>
          <a href="#">
            <i class="icon ion-social-twitter"></i>
          </a>
          <a href="#">
            <i class="icon ion-social-instagram"></i>
          </a>
        <p><b>rhonajoy8@gmail.com</b></p>
        <p><b>&copy; 2021</b></p>
        <p><b>Made with<span class="fa fa-heart" style="color: red;" aria-hidden="true"></span></b></p>
      </div>

</div>

