{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">

        <div class="col-md-2">
            
        {% if user.profile.neighbourhood %}
            <a href="{% url 'neighbourhood' user.profile.neighbourhood.id %}" class="btn btn-warning"> {{user.profile.neighbourhood.name}}</a>
           {%endif%} 
           
        <div class="about">
            <img src="https://c.tenor.com/6TKrKIBuOYkAAAAC/welcome.gif" alt="" height="400px" width="200px">
        </div> <br>
        <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#hoodModal">+
            create Neighborhood</button> <br>
        </div>
        
        <div class="col-md-10">
            {% if neighborhoods %}
            {% for neighbourhood in neighborhoods %}

            <div class="card">
                <img class="card-img-top img-fluid" src="{{neighbourhood.photo.url}}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{neighborhood.name}}</h4>
                    <p> <em>Location:</em> {{neighbourhood.location}}
                         <br>
                         <em>No of Occupants:</em>{{neighbourhood.occupants_count}}<br>
                         <em>Plice Contacts:</em> {{neighbourhood.police_cont}}<br>
                         <em>Hospital Contacts:</em>  {{neighbourhood.hospital_cont}}<br>
                         <em>Created at:</em> {{neighbourhood.created_at}}<br>
                    {%if not request.user.profile.neighbourhood%} <p>
                    <a href="{% url 'joinhood' neighbourhood.id %}" class="btn btn-dark">Join
                        {{neighbourhood.name}}</a>
                    {%endif%}
                </div>
            </div>
            {% endfor %}
            {%else%}
            <p>There are no Available Neighbourhoods</p>
            {%endif%}
        </div>
       
    </div>


</div>

<div class="modal fade" tabindex="-1" id="hoodModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Neighbourhood</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{%endblock%}