<nav class="navbar navbar-light navbar-expand-md top-navigation">
    <div class="container"><a class="navbar-brand text-uppercase" href="/">Neighborhood</a><button
            data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            

            <form class="me-auto search-form " target="_self" action="">
                <div class="d-flex align-items-center"><label class="form-label d-flex mb-0" for="search-field">
                    
                    </label><input class="form-control search-field" type="search" placeholder="Search " id="search-field" name="search_term">
                </div>
            </form>
            {% if user.is_authenticated %}
            <a class="btn btn-light action-button" role="button" href="/user/{{user.id}}">Profile </a>
            {% else %}
            <span class="nav-link text-dark">ARE YOU A MEMBER? <a href="/accounts/login"
                    class="text-dark"><strong>LOG IN</strong></a></span>
            {% endif %}
            
                <a class="btn btn-light action-button" role="button" href="/logout">Logout</a>
                
        </div>
    </div>
</nav>

